<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tubitv.demo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.tubitv.media.demo.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tubitv.media.demo.SelectionActivity"
            android:launchMode="singleTop"
            android:theme="@style/TubiPlayerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tubitv.media.demo.DemoActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                  android:launchMode="singleTop"
                  android:theme="@style/TubiPlayerTheme"/>

        <activity android:name="com.tubitv.media.demo.WebviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:theme="@style/TubiPlayerTheme"/>
    </application>

</manifest>
